body {
  padding: 0;
  margin: 0;
}
html, body, #map {
  height: 100vh;
  width: 100vw;
}

.leaflet-tile-pane {
  opacity: .3;
}

.leaflet-tile-container.leaflet-zoom-animated {
  opacity: .7;
}

.leaflet-marker-icon.is-doubtful {
  filter: contrast(0);
  z-index: 0 !important;
}

.leaflet-marker-icon.is-done {
  opacity: .3;
  z-index: 0 !important;
}

.crop img {
  width: 100px;
  height: 100px;
  margin-top: 1em;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 0 .5rem #aaa;
}

.pokestops {
  min-width: 150px;
  max-width: 250px;
  padding-bottom: .5em;
  text-align: center;
}

.pokestops h3 {
  text-align: center;
}

.pokestops h4 {
  padding-top: .5em;
  padding-bottom: .5em;
}

.ctrl {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  color:  #000;
  z-index: 10000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  user-select: none;
}

.ctrl > * {
  margin-right: .5em;
}

.ctrl button {
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  font-size: 1.25em;
}

.filters {
  display: none;
  width: 100%;
  order: -1;
  background-color: rgba(255, 255, 255, .75);
}

.ckbox-filter {
  display: none;
}

#Filter:checked ~ .filters {
  display: block;
}

.filters img {
  width: 36px;
  height: 36px;
}

div * {
  margin: 0;
}

.report-content {
  padding-bottom: 1em;
  border-bottom: 1px dashed #ccc;
}

.report-content dt {
  padding-top: .25em;
}

.submit-box {
  text-align: right;
}

.report-form[title="Processing…"] .submit-box::before {
  content: 'Processing…...';
}

#close-dialog {
  position: absolute;
  top: 0;
  right: 0;
}

#center-mark {
  position: fixed;
  top: calc(50% - 5vmin);
  left: calc(50% - 5vmin);
  width: 10vmin;
  height: 10vmin;
  color: rgba(0, 0, 0, .1);
  background-image:
    linear-gradient(transparent 50%, currentColor 0, currentColor calc(50% + 2px), transparent 0),
    linear-gradient(90deg, transparent 50%, currentColor 0, currentColor calc(50% + 2px), transparent 0);
  pointer-events: none;
}

.filters img {
  max-width: 12vw;
  max-height: 12vh;
}
